
.first
{
    font-size: 40px;
    color:blueviolet;
    background-color: azure;
    border: 2px solid black;

}
#second{
    font-size: 40px;
    color:wheat;
    background-color:rosybrown;
    border: 2px solid black;
 
}    
.third{
    margin: 12px;
    padding: 12px;
    background-color: red;
}